body {
    background-color: aqua;
}
/**/
#tlo-obrazek {
    background-image: url("../img/pizza.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30% 30%;    
}
/**/

#tlo-obrazek {
    background-image: url("../img/pizza.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 30% 30%;   
    background-attachment: fixed;
}
