body {
    background-color: aquamarine
}

div.klient[suma] {
    background-color: rebeccapurple;
}

div.klient[suma="1140"] {
    background-color: burlywood;
}

div.klient[detaliczny~="tak"] {
    background-color: chartreuse;
}

div.klient[detaliczny*="tak"] {
    background-color: crimson;
}

div.klient[suma^="25"] {
    background-color: green;
}

div.klient[suma$="40"] {
    background-color: ;
}

